@model IEnumerable<shop.Models.Product>
@{
    
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>товары</h3>
    <table>
        <tr>
            <td>Модель</td>
            
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                
                <td>@product.Price</td>
                @*<td><a href="~/Home/Buy/@product.IdProduct">Купить</a></td>
            **@</tr>
        }
    </table>
</body>
</html>